@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');

/*-------------------- General ------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content:center;
  flex-direction: columns;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background-color: aliceblue;
}


/*------------------------- form --------------------*/

form {
  margin-top: 70px;
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
}
form h1{
  color: black;
  text-align:center;
  margin-bottom: 60px;
}

form .inputs {
  display: flex;
  flex-direction: column;
}
form .inputs input[type='email'], input[type='password'] {
  padding: 15px;
  border:none;
  border-radius: 5px;
  background-color:#f2f2f2;
  outline:none;
  margin-bottom: 15px;
}

form a .compte {
    color: blue;
    text-decoration: none;

}

form p.inscription{
  font-size: 14px;
  margin-bottom: 20px;
  color: #878787;
}

form button{
  padding: 15px 25px;
  border-radius: 5px;
  border:none;
  font-size: 15px;
  color: aliceblue;
  background-color:  black;
  outline:none;
  cursor:pointer;
}